#first {
    background: #faa;
    color: blue;
}

.second {
    background-color: #ffaaaa;
    font-size: 30px;
}

.third {
    background-color: rgba(255, 176, 176, 1);
}

.fourth {
    background-color: rgba(255, 175, 175, 0.5);
}